<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equtv="X-UA-Compatible" content="IE=edge">
    <meta name ="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
     <link rel="stylesheet" href="{{url_for('.static', filename='stylesheet.css')}}">
	
</head>
    <body>
<table>
            <a class="HyperLink">System</a>
            <li class="hl"><a class="hllink" href="/home">home</li></a>
            <li class="hl"><a class="hllink" href="/additem">Additonal</li></a>
            <li class="hl"><a class="hllink" href="/list">Summary</li></a>
</table>
	<h1>Welcome to Amines CIST 1310 Final Project</h1>
	<h2>TThis project displays my Front and Backend Skills </h2>
	<h3>Front end for users or clients/ customers people who se the browser with etheir eyes</h3>
	<h3>backend refers to servers</h3>
</body>
</html>
